[colors]
# Base16 Raeon
# Author: stagfoo

foreground          = #EFDFFF
foreground_bold     = #F7F0FF
cursor              = #F7F0FF
cursor_foreground   = #050533
background          = rgba(5, 5, 51)

# 16 color space

# Black, Gray, Silver, White
color0  = #050533
color8  = #222278
color7  = #EFDFFF
color15 = #ffffff

# Red
color1  = #FF008A
color9  = #FF008A

# Green
color2  = #85CF42
color10 = #85CF42

# Yellow
color3  = #FDCA21
color11 = #FDCA21

# Blue
color4  = #4A67FF
color12 = #4A67FF

# Purple
color5  = #964AFF
color13 = #964AFF

# Teal
color6  = #00FBF1
color14 = #00FBF1

# Extra colors
color16 = #FA6F0A
color17 = #FF05FA
color18 = #150A52
color19 = #121252
color20 = #E8D4F9
color21 = #F7F0FF
