.base00 { color: #050533; }
.base01 { color: #150A52; }
.base02 { color: #121252; }
.base03 { color: #222278; }
.base04 { color: #E8D4F9; }
.base05 { color: #EFDFFF; }
.base06 { color: #F7F0FF; }
.base07 { color: #ffffff; }
.base08 { color: #FF008A; }
.base09 { color: #FA6F0A; }
.base0A { color: #FDCA21; }
.base0B { color: #85CF42; }
.base0C { color: #00FBF1; }
.base0D { color: #4A67FF; }
.base0E { color: #964AFF; }
.base0F { color: #FF05FA; }

.base00-background { background-color: #050533; }
.base01-background { background-color: #150A52; }
.base02-background { background-color: #121252; }
.base03-background { background-color: #222278; }
.base04-background { background-color: #E8D4F9; }
.base05-background { background-color: #EFDFFF; }
.base06-background { background-color: #F7F0FF; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #FF008A; }
.base09-background { background-color: #FA6F0A; }
.base0A-background { background-color: #FDCA21; }
.base0B-background { background-color: #85CF42; }
.base0C-background { background-color: #00FBF1; }
.base0D-background { background-color: #4A67FF; }
.base0E-background { background-color: #964AFF; }
.base0F-background { background-color: #FF05FA; }
