# Base16 Raeon
# Author: stagfoo

_gen_fzf_default_opts() {

local color00='#050533'
local color01='#150A52'
local color02='#121252'
local color03='#222278'
local color04='#E8D4F9'
local color05='#EFDFFF'
local color06='#F7F0FF'
local color07='#ffffff'
local color08='#FF008A'
local color09='#FA6F0A'
local color0A='#FDCA21'
local color0B='#85CF42'
local color0C='#00FBF1'
local color0D='#4A67FF'
local color0E='#964AFF'
local color0F='#FF05FA'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
