## Base16 Raeon
# Author: stagfoo
#
# You can use these variables anywhere in the i3 configuration file.

set $base00 #050533
set $base01 #150A52
set $base02 #121252
set $base03 #222278
set $base04 #E8D4F9
set $base05 #EFDFFF
set $base06 #F7F0FF
set $base07 #ffffff
set $base08 #FF008A
set $base09 #FA6F0A
set $base0A #FDCA21
set $base0B #85CF42
set $base0C #00FBF1
set $base0D #4A67FF
set $base0E #964AFF
set $base0F #FF05FA
