# Base16 Raeon
# Author: stagfoo

set default-bg                  "#050533"
set default-fg                  "#150A52"

set statusbar-fg                "#E8D4F9"
set statusbar-bg                "#121252"

set inputbar-bg                 "#050533"
set inputbar-fg                 "#ffffff"

set notification-bg             "#050533"
set notification-fg             "#ffffff"

set notification-error-bg       "#050533"
set notification-error-fg       "#FF008A"

set notification-warning-bg     "#050533"
set notification-warning-fg     "#FF008A"

set highlight-color             "#FDCA21"
set highlight-active-color      "#4A67FF"

set completion-bg               "#150A52"
set completion-fg               "#4A67FF"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#4A67FF"

set recolor-lightcolor          "#050533"
set recolor-darkcolor           "#F7F0FF"

set recolor                     "false"
set recolor-keephue             "false"
