! Base16 Raeon
! Author: stagfoo

! base00: #050533
! base01: #150A52
! base02: #121252
! base03: #222278
! base04: #E8D4F9
! base05: #EFDFFF
! base06: #F7F0FF
! base07: #ffffff
! base08: #FF008A
! base09: #FA6F0A
! base0A: #FDCA21
! base0B: #85CF42
! base0C: #00FBF1
! base0D: #4A67FF
! base0E: #964AFF
! base0F: #FF05FA

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #150A52, #150A52, #050533

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #150A52, #EFDFFF, #150A52, #150A52, #ffffff
rofi.color-active:  #150A52, #4A67FF, #150A52, #150A52, #4A67FF
rofi.color-urgent:  #150A52, #FF008A, #150A52, #150A52, #FF008A

! Set the desired separator style
rofi.separator-style: solid
